<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pawn game</title>
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../../../node_modules/angular/angular.min.js"></script>
</head>

<body ng-app="pawnGame">
    <div ng-controller="gameController">
        <button id="play" name="button" ng-click="startGame()">Play</button>
        <button id="stop" name="button" ng-click="stopGame()">Stop</button>
        <div class="game">
            <div ng-repeat="field in fieldList" ng-click="jump(field.index)" class={{field.className}}></div>
        </div>
    </div>


    <script>
        (function () {
            angular.module('pawnGame', [])
                .constant('GAME_CONSTS', {
                    gameSize: 16
                })
                .service('gameDataService', function () {
                    return {
                        initGameData: function (boardSize) {
                            var arr = [];
                            for (let i = 0; i < boardSize; i++) {
                                arr.push({
                                    className: i === 0 ? 'field pawn' : 'field',
                                    index: i
                                })
                            }
                            return arr;
                        }
                    }
                })
                .controller('gameController', function ($scope, gameDataService, GAME_CONSTS) {

                    $scope.fieldList = gameDataService.initGameData(GAME_CONSTS.gameSize);
                    $scope.lastPawnIndex = 0;

                    $scope.startGame = function () {
                        console.log('start game');
                        $scope.interval = setInterval(function () {

                            if ($scope.lastPawnIndex === $scope.fieldList.length - 1) {
                                $scope.fieldList[$scope.lastPawnIndex].className = 'field';
                                $scope.fieldList[0].className = 'field pawn';
                                $scope.lastPawnIndex = 0;
                            } else {
                                $scope.fieldList[$scope.lastPawnIndex].className = 'field';
                                $scope.fieldList[$scope.lastPawnIndex + 1].className = 'field pawn';
                                $scope.lastPawnIndex++;
                            }
                            $scope.$apply();
                        }, 1000);
                    };

                    $scope.stopGame = function () {
                        if ($scope.interval) {
                            clearInterval($scope.interval);
                            console.log('stop game');
                        }
                    }

                    $scope.jump = function (index) {
                        $scope.fieldList[$scope.lastPawnIndex].className = 'field';
                        $scope.fieldList[index].className = 'field pawn';
                        $scope.lastPawnIndex = index;
                    }
                });
        })();
    </script>
</body>

</html>