.game {
    width: 200px;
    font-size: 11px;
    margin: 5px 0;
}

.field {
    float: left;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin: 0 5px 5px 0;
    background-color: #ccc;
}

.pawn {
    position: relative;
}

.pawn::after {
    content: "\265F";
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 25px;
}